<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Growth Hacking Manifesto</title>
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/mashape-static-production/web/assets/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script src="/javascripts/scale.fix.js"></script>
<script type="text/javascript">
  var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
  analytics.load("syil1993p4");
</script>
</head>
<body>
<header>
<div class="container">
  <!-- Logo -->
  <a href="https://mashape.com/" id="logo"><img src="https://www.mashape.com/public/mashape_logo.png" width="145" height="35" alt="Logo"></a>
  <!-- Navigation -->
  <ul id="navigation">
        <li><a href="http://blog.mashape.com/">Blog</a></li>
        <li class="active"><a href="http://growth.mashape.com/">Growth Hacking</a></li>          
        <li><a href="http://unirest.io">Unirest</a></li>
  </ul>
  <!-- Social Links -->
  <ul id="social">
    <li><a href="http://www.twitter.com/mashape" id="twitter"><img src="http://static.tumblr.com/vbjnszm/Jpnmcbmpz/twitter.png" alt="Twitter"></a></li>
    <li><a href="https://github.com/mashape" id="github"><img src="http://static.tumblr.com/vbjnszm/gdAmccpnu/github.png" alt="Github"></a></li>
    <li><a href="https://facebook.com/mashape" id="facebook"><img src="http://static.tumblr.com/gtdjnrz/lbemlstyq/f-logo.png" alt="Facebook" /></a></li>   
  </ul>
  <div class="clear">
  </div>
</div>
</header>
<div class="container">
  <aside>
  <h1><a href="/">Growth Hacking</a></h1>
  <p>
    Learn how to build sustainable user growth.
  </p>
  <ol>
    <li><a href="/2013/04/15/what-the-fsck-is-growth-hacking/">What The FSCK is Growth Hacking?</a></li>
    <li><a href="/2013/04/24/the-three-magic-questions/">The Three Magic Questions</a></li>
    <li>Tools of the Trade</li>
    <li>UX Principals &amp; Basics</li>
    <li>Landing Page Optimization</li>
    <li>Fixing Leaky Pipes</li>
    <li>Test, analyze, rinse, repeat</li>
    <li>Website Redesign Basics</li>
    <li>Write emails that don't suck</li>
  </ol>
  <p>
    If you don't want to miss the new articles just subscribe to email notifications below. 
  </p>
  <div id="mc_embed_signup">
    <form action="http://mashape.us4.list-manage.com/subscribe/post?u=4c31ad650a2b0a9c0cba97cb8&amp;id=2a86df14ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </div>
  </aside>
  <section>
  {{ content }} <hr/>
  <div class="half">
    <h4 style="margin-bottom:5px;">Have something to add?</h4>
    <iframe src="http://ghbtns.com/github-btn.html?user=mashape&repo=growth-hacking&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20">
    </iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=mashape&repo=growth-hacking&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20">
    </iframe>
  </div>
  <div class="half">
    <h4 style="margin-bottom:5px;">Really like what I've got to say?</h4>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_hackernews"></a>
      <a class="addthis_button_reddit"></a>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_linkedin"></a>
      <a class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
    <!-- AddThis Button END -->
  </div </section>
</div>
</body>
</html>